html 
    head 
        title =' presentacion ' 
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',rel='stylesheet')
    body 
        div.container 
            h1=mensaje  

            table.table.table-striped 
                for producto in productos 
                    tr 
                        td=producto.Titulo
                        td=producto.Precio 
                        td=producto.Miniatura
                        td=producto.Id
                        